/* You can add global styles to this file, and also import other style files */
/*@import 'bootstrap/dist/css/bootstrap.min.css';*/

.even {
  --bs-table-bg: steelblue;
  --bs-table-color: white;
}

.odd {
  --bs-table-bg: tomato;
  --bs-table-color: white;
}

h1 {
  color: steelblue;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
