<hinv-header></hinv-header>
<!-- {{rooms$ | async | json}} -->
<div [hidden]="hideRooms">
  Number of rooms
  <div
    [innerText]="numberOfRooms"
    [ngStyle]="{ color: rooms.availableRooms > 0 ? 'green' : 'red' }"
  ></div>
</div>
<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>
<button (click)="getPhotos()">Get photos</button>

<!-- {{rooms.availableRooms ?? "no-rooms"}} -->
<!--{ roomList | json }}-->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<!-- <h1>{{getError$ | async}}</h1> -->

<h1>Number of Rooms: {{roomsCount$ | async}}</h1>

<div *ngIf="rooms$ | async as rooms">
  <hinv-rooms-list
    [rooms]="rooms"
    (selectedRoom)="selectRoom($event)"
    [title]="title"
  ></hinv-rooms-list>
</div>

<h1>{{totalBytes}} Loaded</h1>
